<footer>
<div class="f-info">

     <div class="f-info-socialmedia">
       <a href="#"><i class="fa-brands fa-facebook"></i></a>
       <a href="#"><i class="fa-brands fa-instagram"></i></a>
       <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </div>
     <div class="f-info-links">
         <p>&copy;Wanderlust Private Limited</p>
        
     </div>
     <div class="doc">
         <a href="/privacy">privacy </a>
         <a href="/terms">Terms And conditions</a>
     </div>
      
</div>
</footer>